*{
   
    box-sizing: border-box;
           
}
   .container{
    border:2px solid #000000;
    width: 80%;
    height: auto;
    max-width: 1000px;
    background: #cccccc;
    margin: 0px auto;
    overflow: hidden;
    flex-direction: column;
    display: flex;
         

}

   
.main{
    background: rgba(71, 25, 25, 0.904);
    height: auto
    width: 100%;
}

 h1{
     color: #ffff;
     width: 50px;
     height: auto;
     font-size: 40px;
     padding: 70px;
 } 



 #nav, ul, li, a {
    color: #ffffff;
   text-decoration: none; 
   display: inline-block;
   margin: 10px;
   display: flex;
   justify-content: end;
   font-size: 20px;

   
   
   
 }
 #nav, ul, li, a:hover{
    color: black;
 }

 #nav, ul, li, a:active{
    color: aquamarine;


 }

  .gramhome{
     width: 100%;
     margin: 0px;
     padding: 0px;
     background: #ffffff;
     height: auto;
     display: flex;
     
     

  } 
  .gramhome, .home{
     justify-content: center;
     padding: 20px;
   
  }



     .articles {
         
      width: 80%;
      height: auto;
      padding: 0px;
      margin: 0px;
      background: chocolate;
      justify-content: center;          
     }


 
     .mover>img{
      width: 150px;
      height: auto;
      margin: 5px;
      display: inline-block

   }

   .mover{
      width: 600px;
      height: auto;
      display: flex;
      margin: 10px;
      
      
   }
 
   .aside{
      width: 20%;
      height: auto;
      background: coral;
      float: left;
      
      
   }

      
    
 @media screen and (max-width:680px){
    body{
       background: crimson;
    }
 }
 
 @media screen and (min-width:120px){
    body{
       background: crimson;
    }
 }
 


 @media screen and (max-width:100px){
        *{
       width: 100%;
       height: auto;
    }
 }

     
  


    

